@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<li>@Model.Name</li>
<li>@Model.AddedDate</li>
<li>@Model.ReleaseDate</li>
<li>@Model.Genre.Name</li>
